core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
outputs/v1/hypertuning/*
outputs/v1/lemon_quality_model.h5
outputs/v2/hypertuning/*
outputs/v2/lemon_quality_model.h5
outputs/v3/hypertuning/*
outputs/v3/lemon_quality_model.h5
outputs/v4/hypertuning/*
outputs/v5/hypertuning/*
